@charset "UTF-8";

@import "_settings";
@import "_base.scss";

body{
  box-sizing: border-box;
  width     : 100%;
  height    : 100%;
  margin    : 0;
  z-index   : 0;
  background: $second_color;
  @include font($main_font);
}

*::selection{background-color: rgba(0,0,0,0.3); color:$main_color;}


.hamburger,.cross-close{
  visibility      : hidden;
  display         : inline-block;
  position        : fixed;
  top             : 0;
  right           : 0;
  z-index         : $z_overlay;
  background-color: rgba(0,0,0,0.2);
  padding         : 0.5rem 0.5rem 0.5rem;
  svg{
    height: 25px;
    width : 60px;
    fill  : white;
  }
  &:hover, &:focus{
    background-color: transparent;
    outline         : -webkit-focus-ring-color none;
  }
}


.cross-close{
  background-color: transparent;
  svg{
    width : 60px;
    height: 60px;
  }
}

.overlay {
  position  : fixed;
  width     : 100%;
  height    : 100%;
  top       : 0;
  left      : 0;
  background: rgba(24,23,22,0.8);
  visibility: hidden;
  transform : translateY(-100%);
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
  z-index   : $z_overlay;
  nav{
    text-align: center;
    position  : relative;
    top       : 50%;
    height    : 95%;
    transform : translateY(-50%);
  }
  ul{
    list-style: none;
    padding   : 0;
    margin    : 0 auto;
    display   : inline-block;
    height    : 100%;
    position  : relative;
    li{
      display   : block;
      height    : 20%;
      height    : calc(100% / 4);
      min-height: 54px;
      color     : white;
      font-size : 4rem;
    }
  }
  a{
    color: $second_color;
  }

}

.overlay-slidedown {
  visibility: visible;
  transform : translateY(0%);
  transition: transform 0.4s ease-in-out;
}




#back_picture{
  position       : fixed;
  width          : 100%;
  height         : 100vh;
  margin         : 0;
  z-index        : 2;
  background     : url(../img/trianglify-background.svg) no-repeat top left;
  background-size: cover;
  top            : 0px;
}


#fkrb{
  position: relative;
  height  : 100vh;
  width   : 100%;
  z-index : $z_section;
  top     : 0px;
  h3{
    padding-top: 12%;
    display    : inline-block;
    color      : white;
    text-align : center;
    font-size  : 7em;
    font-weight: bold;
    opacity    : 0.9;
    z-index    : 10;
  } 
  p{
    box-sizing: border-box;
    width     : 100%;
    height    : 25%;
    display   : inline-block;
    display   : inline-block;
    top       : 75%;
    margin    : 0;
    color     : white;
    text-align: center;
    float     : left;
    overflow  : hidden;
    font-size : 2em;
  }
}

.back-fixed{
  position: fixed;
  width   : 100%;
  display : inline-block;
  z-index : 2;
}




#logo {
  width       : 400px;
  height      : 175px;
  margin      : auto;
  display     : block;
  padding-left: 80px;
  top         : 60px;
  position    : relative;
}

#hex_F1{
  width    : 200px;
  height   : 200px;
  z-index  : 6;
  transform: rotateZ(90deg);
}

.hex_wrapper_F {
  text-align: center;
  position  : relative;
  display   : inline-block;
}

.logo_hex:before {
   position        : absolute;
   top             : 0;
   right           : calc((100% / 2) - ((100% * 0.57735) / 2));
   background-color: inherit;
   height          : inherit;
   width           : inherit;
   content         : '';
   z-index         : 4;
   transform       : rotateZ(-60deg);
}

.logo_hex {
  @include font($second_font);
  height          : 100%;
  width           : calc(100% * 0.57735);
  display         : inline-block;
  background-color: $main_color;
  font-size       : 15px;
  text-align      : center;
  z-index         : 5;
   box-sizing     : border-box;
}

.logo_hex:after {
  position        : absolute;
  top             : 0;
  right           : calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height          : inherit;
  width           : inherit;
  content         : '';
  z-index         : 4;
  transform       : rotateZ(60deg);
} 

#hex_F2{
  width   : 175px;
  height  : 175px;
  z-index : 7;
  position: absolute;
  left    : 13px;
  top     : 12px;
}

#hex_F2 .logo_hex{
	background-color: $second_color;
}

#logo_F{
	color      : $main_color;
	z-index    : 50;
	font-size  : 146px;
	margin     : 0;
	position   : absolute;
	top        : -15px;
	left       : 43px;
	font-weight: bolder;
	@include font($main_font);
	transform  :rotateZ(-90deg);
}

#hex_K{
  width  : 100px;
  height : 100px;
  z-index: 6;
}

.logo_wrapper_K {
	text-align: center;
	position  : relative;
	display   : inline-block;
	top       : 0px;
	left      : -60px;
	transform :rotateZ(90deg);
}

#logo_K{
	color      : $second_color;
	z-index    : 500;
	font-size  : 76px;
	margin     : 0;
	position   : absolute;
	top        : -2px;
	left       : 22px;
	font-weight: bolder;
	@include font($main_font);
	transform  :rotateZ(-90deg) rotateY(-180deg);
}



.sub-nav{
  padding-top: 1px;
}

.magellan[style="position: fixed; top: 0px;"]{
  box-shadow      : 0 5px 25px -7px black;
  background-color: rgba(153,153,153,0.8);
  margin-top      : 0px;

}

.magellan{
  @include font($main_font);
  height          : 42px;
  text-align      : center;
  position        : relative;
  margin-top      : -52px;
  background-color: $transparent;
  transition      : all 0.5s ease;

  dd{
    margin-left: 0;
    padding:0;
    width: 20%;
    a{
      @include font($main_font);
      font-size: 1.5rem;
      color    : white;
      padding:0;
       &:hover{
        color: $background_dark;
       }
    }
  }
  svg{
    margin-top: 3px;
  }
}

.magellan-active-custom{
  a{
    color: $second_color !important;
  }
}


.project{
  position        : relative;
  width           : 100%;
  height          : 100vh;
  z-index         : $z_section;
  overflow        : hidden;
  background-color: $background_bright;
  transition      : height 0.5s ease;
}

.project-title{
  width           : 100%;
  font-size       : 60px;
  text-align      : center;
  margin-top      : 5px;
  margin-left     : auto;
  margin-right    : auto;
  font-family     : 'Montserrat', sans-serif;
  color           : white;
  box-sizing      : border-box;
  background-color: $second_color;
  margin          : 0px 0 20px 0;
}

.projects{
  border-width        : 75%;
  height              : 500px;
  padding             : 5px 30px 30px 30px;
  margin-bottom       : 50px;
  
  h2{
    font-size       : 50px;
    text-align      : left;
    margin-left     : auto;
    margin-right    : auto;
    @include font($second_font);
    font-weight     : normal;
    color           : $second_color;
  }
  
  .devicons{
    font-size : 4em;
    color     : black;
    text-align: center;
    padding   : 0;
  }

  p{
    @include font($second_font);
    color:black;
    
  }
  .button{
    background-color: $second-color;
    @include font($second_font);

    &:hover{
      background-color: $main-color;
    }
  }

  .mailchimp, .lemonstand{
    padding: 0;
    width  : 75px;
  }
  .lemonstand{
    width       : 60px;
    fill        : black;
    padding-top : 8px;
    padding-left: 8px;
  }

  img{
    float: right;
  }
}

#project_4 {
  .devicons,.lemonstand{
    margin-right: 4%;
  }
}

.project-content-wrapper{
  height: 100%;
  margin-right: 10%;
  margin-left : 10%;
}


.slicker-nav{
  width         : 100%;
  position      : absolute;
  bottom        : 0;
  z-index       : $z_foreground;
  height        : 90px;
  box-shadow    : 0 8px 10px 5px black;
  background-color: white;
  
  div{
    width       : 16.6%;
    float       : left;
    text-align  : center;
    height      : 100%;
    border-right: $second_color 2px solid;
    transition  : background-color 0.3s;

    &:hover{
      background-color: $background_dark;
    }

    .one-line{
      padding-top: 20px;
    }

    &:last-child{
      border-right: none;
    }
  }
}

.nav-title{
  color          : $main_color;
  height         : 100%;
  width          : 95%;
  margin-left    : 2.5%;
  @include font($second_font);
  cursor         : pointer;
  transition     : color 0.2s;
  display        : flex;
  justify-content: center;
  flex-direction : column;
  height         : 88%;
}

.active-slide-tab{
  background-color: $background_dark;
}

.active-slide-title{
  color:$main_color;
}

.slicker-focus{
  border-top: 1px solid black;
  transition: border 0.3s ease-in-out;
}

.project .slicker {
  height: 95vh;
  width : 100%;
}

.project .slick-slider{
  margin-bottom: 0;
}

.project .slicker .draggable{
  cursor: -webkit-grab;
  
  &:active{
    cursor: -webkit-grabbing;
  }
}

.arrow {
  cursor          : pointer;
  position        : absolute;
  top             : 50%;
  background-color: rgba(0,0,0,0);
  z-index         : $z_foreground;
  width           : 75px;
  height          : 75px;
  padding-top     : 17px;
  transition      : all 300ms ease-in-out;

  &:hover{
    background-color: $second_color;
    transition      : all 300ms ease-in-out;
  }

  &:hover polyline{
   stroke-width: 5;
  }
  &:focus polyline{
   stroke-width: 5;
  }
  &:active polyline{
  stroke-width: 7;
  transition: all 100ms ease-in-out;
  }
}

.arrow-left {
  left        : 0%;
  padding-left: 30px;
  &:hover{
    padding-left: 20px;
  }
}

.arrow-right {
  right       : 0%;
  padding-left: 10px;
  &:hover{
    padding-left: 20px;
  }
}


polyline {
  transition: all 250ms ease-in-out;
}

.project{
  .slick-prev{
    width : 50px;
    height: 70%;
    top   : 27%;
    left  : 0px;
    &:before{
      width : 50px;
      height: 70%;
      top   : 27%;
    }
  }
  .slick-next{
    width : 50px;
    height: 70%;
    top   : 27%;
    right : 0px;
    &:before{
      width : 50px;
      height: 70%;
      top   : 27%;
    }
  }
}




.techno{
  height       : 50px;
  margin-bottom: 25px;
  img{
    width  : 75px;
    height : auto;
    padding: 0;
    float  : left !important;
  }
  i{
    font-size  : 3rem;
    padding-top: 7px;
    text-align : center;
    color      : black;
  }
  .xdk{
    margin-top: -10px;
    padding   : 0;
  }
}

#project_2 img{
  padding: 0;
}

#project_2 img,#project_3 img,#project_4 img,#project_5 img,#project_6 img,{
  box-shadow: 0px 10px 20px -5px black;
}


#about{
  position        : relative;
  height          : auto;
  width           : 100%;
  z-index         : $z_foreground;
  overflow        : hidden;
  background-color: $background_dark;
  
}

.about-title{
  @extend .project-title;
  margin-top: 0px;
}

.about-p{
  // margin-bottom: 60px;
  margin-top   : 40px;
  color        : white;
  @include font($second_font); 
}

.about-experience, .about-skills{
  color:white;
  
  h2{
    text-align: center;
    color     : $main_color;
    @include font(main_font);
  }

  h3{
    color: $second_color;
    @include font($main_font);
  }

  a{
    color: $second_color;
    &:hover{
      text-decoration: underline;
    }
  }
}

.about-experience p, .about-experience h3{
  padding-left: 30px;
}

.download-cv{
  width: 50%;
  margin-top: 15px;
  margin-left: 25%;
  // margin-left: 30px;
  background-color: $second_color;
  border-color    :$second_color;
  &:hover{
    background-color: $main_color;
  }
  &:focus{
    border-color:$second_color;
    outline     : $second_color auto 5px;
    background-color: $main_color;
  } 
}
.download-cv  a{
    color: white;
    @include font($second_font);
    &:hover{
      text-decoration: none;
    }
  }

.contact-fixed{
  position  : fixed;
  width     : 100%;
  height    : 100%;
  margin-top: 65px; 
  top       : 0;
}

.contact-wrapper{
  height  : 100%;
  position: absolute;
  bottom  : 6vh;
  width   : 100%;
}

.about-skills{
  position     : relative;
  display      : block;
  height       : 50%;
  float        : left;
  margin-bottom: 30px;

  .sublime-text{
    margin-left           : 30px;
    width                 : 62px;
    height                : 62px;
    padding-top           : 17px;
    margin-top            : 3%;
    margin                : auto;
    background-color      : #FAFAFA;
    color                 : $background_dark;
    text-align            : center;
    font-size             : 3.5rem;
    padding-top           : 18px;
    margin-top            : 4px;
    -webkit-font-smoothing: antialiased;
    border                : solid 2px white;
    border-radius         : 5px;
    transition            : all 0.6s ease;
  }

  .photoshop svg{
    fill: white;
    transition: all 0.6s ease;
  }

  .c-prog{
    line-height: 1;
    width      : 20%;
  }

  .mailchimp svg{
    fill: white;
    transition: all 0.6s ease;
  }

  span{
    font-size: 5rem;
    float    : left;
  }
} 

.tooltip{
  @include font($second_font);
  width     : 100px !important;
  text-align: center;
}

.tooltip > .nub{
  left : 60px; 
  right: 5px !important;
}

.skills-legend-skilled{
    @include font($second_font);
    position    : absolute;
    right       : 0;
    margin-right: -50%;
    margin-top  : -30px;
    visibility  : visible;
    color       : $skilled;
    transition  : margin ease 0.5s;
  }

  .skills-legend-experienced{
    @include font($second_font);
    position    : absolute;
    right       : 0;
    margin-right: -50%;
    margin-top  : -30px;
    visibility  : visible;
    color       : $experienced;
    transition  : all ease 0.5s;
  }
  .legend-back-end-skilled, .legend-misc-skilled{
    display: none;
  }

.icon-list{
  width          : 90%;
  height         : 125px;
  margin         : auto;
  margin-bottom  : 30px;
  clear          : both;
  overflow       : visible;

  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;

  transition     : background 0.4s ease;
  h3{
    position  : absolute;
    color     : $background_dark;
    margin-top: -5px;
    transition: all 0.4s ease;
  }
    &:hover{
      background-color: $second_color;
      transition      : background 0.3s ease;
      h3{
        color     : $second_color;
        margin-top: -35px;
        transition: all 0.3s ease;
      }
      
      .skilled{
        color: $skilled;
      }

      .experienced{
        color: $experienced;
      }

      .knowledge{
        color:#5288B9;
      }
    }

  .icon-list-child{
    width     : 20%;
    height    : auto;
    text-align: center;
    transition: all 0.3s ease;
  }

}


.front-end{
  .foundation .foundation-body, .foundation .foundation-accessories{
    transition: all 0.6s ease;
  }
  &:hover .foundation .foundation-body{
    fill      : $skilled;
    transition: all 0.6s ease;
  }  
  &:hover .foundation .foundation-accessories{
    fill      : $second-color;
    transition: all 0.6s ease;
    stroke    : none;
  }
}

.back-end{
  &:hover .mailchimp svg{
    fill      : $experienced;
    transition: all 0.3s ease;
  }
}

.tools{
  &:hover .sublime-text{
    background-color: $skilled;
    border-color    : $skilled;
    color           : $second_color;
    transition      : all 0.4s ease;
  }
}

.misc{
  &:hover .photoshop svg{
    fill      : $experienced;
    transition: all 0.3s ease;
  }
}


.soon{
  &:hover span{
    color     : $background_dark;
    transition: color 0.3s ease;
  }
}


#contact{
  position: relative;
  height  : 800px;
  width   : 100%;
  z-index : 3;
  opacity : 1;
  overflow: hidden;
  h2{

    @extend .project-title;
  }
  .fa{
    font-size : 10rem;
    color     :$background_dark;
    margin-top: 150px;
    transition: color .5s ease;
    &:hover{
      color:black;
    }
  }
  h3{
    text-align: center;
    @include font($main_font);
    font-size : 3rem;
    display   : inline-block;
    color     : white;

  }
  .social-linkedin, .social-github{
    text-align: center;
  }
}

.email{
  width  : auto;
  margin : auto;
  display: table;
  clear  : both;

  a{
    color: white;
    transition: all .5s ease;
    &:hover{
      color: $background_dark;
    }
  }
}

.form-wrapper{
  float:left;
  width: 100%;
}


.contactFormWrapper{
  padding:1%;
}

#contactForm{
  .button{
    background-color: $second_color;
    border-color    :$second_color;
    &:hover{
      background-color: $main_color;
    }
    &:focus{
      border-color:$second_color;
      outline     : $second_color auto 5px;
      background-color: $main_color;
    } 
    margin-left: 0;
  }

  label{
    @include font($main_font);
  }
  ::-webkit-input-placeholder {
     color: rgba(255,255,255,0.8);
  }

  ::-moz-placeholder {
     color: rgba(255,255,255,0.8);  
  }

  :-ms-input-placeholder {  
     color: rgba(255,255,255,0.8);  
  }

  .formInput{
    color           :white;
    @include font($second_font);
    background-color: rgba(0,0,0,0.3);
    height          : 50px;
    font-size       : 1.5rem;
    &:focus{
      background-color: rgba(0,0,0,0.6);
    }
  }

  .formTextarea{
    min-height   : 250px;
    max-width    : 100%;
    margin-bottom: 10px;
  }

  .formButton input{
    @include font($main_font);
    color    :white;
    font-size: 1.5rem;
    transition: all 0.5s ease; 
  }

  small{
    margin-top               :5px;
    animation-duration       : 1s;
    animation-iteration-count: 1;
  }
}

.social{
  h3{
    height : 125px;
    display: inline-block;
    color  : white;
  }
}

#fkrb .error404{
  padding-top: 10%;
  display    : inline-block;
  color      : white;
  text-align : center;
  font-size  : 7em;
  font-weight: bold;
  opacity    : 0.9;
  z-index    : 10;
  width      : 100%;

}

@import "xsmall.scss";
@import "small.scss";
@import "medium.scss";
@import "large.scss";

@import "slick.scss";