@media #{$large-only} { 

    .magellan .sub-nav a{
      font-size: 1.5rem;
      line-height: 1.8em;
    }
    
    .skills-legend-skilled{
        @include font($second_font);
        position    : absolute;
        right       : 0;
        margin-right: -50%;
        margin-top  : -30px;
        visibility  : visible;
        color       : $skilled;
        transition  : margin ease 0.5s;
      }

      .skills-legend-experienced{
        @include font($second_font);
        position    : absolute;
        right       : 0;
        margin-right: -50%;
        margin-top  : -30px;
        visibility  : visible;
        color       : $experienced;
        transition  : all ease 0.5s;
      }

  	.project-content-wrapper{
  		margin: 0;
  	}

  	.nav-title{
  		font-size: 1.3rem;
  	}

	#about{
		height: auto;
		p{
			margin:0;
		}
	}

	.back-end{
		.mailchimp svg{
	    	width:100px;
	  	}
	}
	
	.tools{
		.sublime-text {
			margin-left: 30px;
			width: 62px;
			height: 62px;
			padding-top: 17px;
			margin-top: 4px;
		}
	}

	.contact-fixed{
		margin-top: 42px;
	}

	#contactForm .formButton input{
		font-size: 2rem;
	}

}