@media #{$medium-only} { 	
	.hamburger,.cross-close{
	  visibility: visible;
	}

	#back_picture{
		background-position: 50% 50%;
	}

	#fkrb{
		h3{
			font-size: 6rem;
			padding-top: 10vh;
		}
	}

	#logo{
		top: 30px
	}
	
	.magellan{
		display: none;
	} 

	.project-content-wrapper{
		margin: 0;
	}

	.project{
		height: 1500px;

		.slicker{
			height: 1500px;
		}
		.slicker-nav{
			display: none;
		}
	}

	.projects{
		padding: 0;		
		img{
			float: none;
			margin: auto;
		}
		h2{
			font-size: 2.5rem;
		}
		.button{
			padding-right: 0;
			padding-left: 0;
			width: 100%;
			font-size: 1.5rem;
		}
		p{
			margin-top: 50px;
		}
	}

	.project-title{
		font-size: 3rem;
	}
	.skills-legend-experienced{
		margin-right: 8%;
		margin-top	: -30px;
		font-size	: 1.5rem;
		visibility	: visible;
	}

	.skills-legend-skilled{
		margin-top	: -30px;
		margin-right: 30%;
		font-size	: 1.5rem;
		visibility	: visible;
	}
	.icon-list{
		background-color: $second_color;
		transition : background 0.3s ease;
		h3{
			color: $second_color;
			margin-top:-30px;
			transition : all 0.3s ease;
		
      	}
      	&:hover{
      		h3{
				margin-top:-30px !important;
      		}
		}
      	.skilled{
        	color: $skilled;
      	}

      .experienced{
        color: $experienced;
      }

      .knowledge{
        color:#5288B9;
      }
	}

	.front-end{
	  .foundation .foundation-body{
	    fill: $skilled;
	    transition: color 0.3s ease;
	  }  
	  .foundation .foundation-accessories{
	    fill: $second-color;
	    transition: color 0.3s ease;
	    stroke: none;
	  }
	}

	.back-end{
		.mailchimp svg{
	   		fill: $experienced;
	    	transition: color 0.3s ease;
	    	width: 100px;
	  	}
	}

	.tools{
		.sublime-text{
			background-color: $skilled;
			border-color: $skilled;
			color: $second_color;
			transition: color 0.4s ease;
		}
	}

	.misc{
	 .photoshop svg{
	    fill: $experienced;
	    transition: color 0.3s ease;
	  }
	}


	.soon{
	  span{
	    color: $background_dark;
	    transition: color 0.3s ease;
	  }
	}

	#about{
		height: auto;
		p{
			margin:0;
		}
	}


	.about-skills{
		float: right !important;
		h2{
			margin-bottom: 30px;
		}

	.sublime-text{
		margin-left:15%;
		margin-left: 15%;
		width: 64px;
		height: 64px;
		padding-top: 18px;
		margin-top: 3px;
	}
}


	#contact{
		height  : auto;
		background-size: cover;
		z-index: $z_section;
		background-image: url("../img/trianglify-background.svg");

		.fa{
			font-size: 8rem;
			padding-top: 30px;
			margin-top:0;
		}
		.email{
			h3{
				font-size: 1.75rem;
			}
		}
	}

	.contact-fixed{
		position: relative !important;
		margin-top: 0px !important;
	}

	#contactForm .formInput {
    	font-size: 1rem; 
	}
	
	.social-linkedin, .social-github{
		text-align: center;
	}
} 
 

