@media #{$medium-only} { 
  body {background: orange;}

	
	.hamburger,.cross-close{
	  visibility: visible;
	}

	#back_picture{
		background-position: 50% 50%;
	}

	#logo{
		top: 30px
	}
	
	.magellan{
		display: none;
	} 

	.project-content-wrapper{
		margin: 0;
	}

	.project{
		height: 1500px;

		.slicker{
			height: 1500px;
		}
		.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img{
			height: 100%;
		}
		.slicker-nav{
			display: none;
		}
	}

	.projects{
		padding: 0;		
		img{
			float: none;
			margin: auto;
		}
		h2{
			font-size: 2.5rem;
		}
		.button{
			// bottom: -750px;
			padding-right: 0;
			padding-left: 0;
			width: 100%;
			font-size: 1.5rem;
		}
		p{
			margin-top: 50px;
		}
	}

	.project-title{
		font-size: 3rem;
	}
	
	.icon-list{
		background-color: $second_color;
		transition : background 0.3s ease;
		h3{
			color: $second_color;
			margin-top:-30px;
			transition : all 0.3s ease;
		
      	}
      	&:hover{
      		h3{
				margin-top:-30px !important;
      		}
		}
      	.skilled{
        	color: $skilled;
      	}

      .experienced{
        // color: #316EA5;
        color: $experienced;
      }

      .knowledge{
        color:#5288B9;
      }
	}

	.front-end{
	  .foundation .foundation-body{
	    fill: $skilled;
	    transition: color 0.3s ease;
	  }  
	  .foundation .foundation-accessories{
	    fill: $second-color;
	    transition: color 0.3s ease;
	    stroke: none;
	  }
	  // .skills-legend-skilled{
	  //   right:145px;
	  //   top:850px;
	  // }

	  // .skills-legend-experienced{
	  //   right:0;
	  //   top:850px;
	  // }
	}

	.back-end{
		// .skills-legend-skilled{
		//   right:145px;
		//   top:1005px;
		// }

		// .skills-legend-experienced{
		//   right:0;
		//   top:1005px;
		// }
		.mailchimp svg{
	   		fill: $experienced;
	    	transition: color 0.3s ease;
	    	width: 100px;
	  	}
	}

	.tools{
		// .skills-legend-skilled{
		//   right:145px;
		//   top:1160px;
		// }

		// .skills-legend-experienced{
		//   right:0;
		//   top:1160px;
		// }
		.sublime-text{
			background-color: $skilled;
			border-color: $skilled;
			color: $second_color;
			transition: color 0.4s ease;
		}
	}

	.misc{
		// .skills-legend-skilled{
		//   right:145px;
		//   top:1315px;
		// }

		// .skills-legend-experienced{
		//   right:0;
		//   top:1315px;
		// }
	 .photoshop svg{
	    fill: $experienced;
	    transition: color 0.3s ease;
	  }
	}


	.soon{
	  span{
	    color: $background_dark;
	    transition: color 0.3s ease;
	  }
	}

	#about{
		height: 1700px;
		p{
			margin:0;
		}
	}

	// .skills-legend-skilled{
	//   position        : absolute;
	//   right:0;
	//   top:30px;
	//   margin-right: 7%;
	//   visibility: visible;
	// }

	// .skills-legend-experienced{
	//   right:0;
	//   top:30px;
	//   margin-right: 7%;
	//   visibility: visible;
	// }

	.about-skills{
		h2{
			margin-bottom: 30px;
		}

	.sublime-text{
		margin-left:15%;
		margin-left: 15%;
		width: 64px;
		height: 64px;
		padding-top: 18px;
		margin-top: 3px;
	}
}


	#contact{
		height: 1100px;
		background-size: cover;
		z-index: $z_foreground;
		background-image: url("../img/trianglify-background.svg");

		.fa{
			padding-top: 30px;
			margin-top:0;
		}
		.email{
			// width: 100%;
			// padding-left: 7%;

			h3{
				font-size: 1.75rem;
			}
		}
	}

	.contact-fixed{
		position: relative;
		margin-top: 0px;
	}

	#contactForm .formInput {
    	font-size: 1rem; 
	}
	
	.social-linkedin{
		// padding-left: 60%;
		padding-left: 15%;
		height: 30px;
		left: 0;
		bottom: -730px;
		position: absolute;
	}

	.social-github{
		padding-left: 15%;
		height: 30px;
		left:40%;
		bottom: -730px;
		position: absolute;

	}
} 
 

